orjson>=3.9.15
xxhash
rich>=14.2.0
chardet
RestrictedPython
requests>=2.32.4
jinja2>=2.11.3
evtx>=0.6.2
lxml
pysigma>=0.10.10
pysigma-pipeline-sysmon>=1.0.3
pysigma-pipeline-windows>=1.1.1
pysigma-backend-sqlite>=0.1.1
pyyaml
psutil>=5.9.0
urllib3>=2.6.3
