{# Timesketch JSONL: one JSON object per line. Mandatory: message, datetime (ISO8601), timestamp_desc. Use --timefield to set the event time field (default: SystemTime). Save as .jsonl for import. -#}
{% for elem in data %}{% for match in elem["matches"] %}{"message":{{ elem["title"]|tojson }},"datetime":{{ match.get(timeField, "")|tojson }},"timestamp_desc":"Event time","title":{{ elem["title"]|tojson }},"id":{{ elem["id"]|tojson }},"description":{{ elem["description"]|tojson }},"rule_level":{{ elem["rule_level"]|tojson }}{% for key, value in match.items() %},"{{ key }}":{{ value|tojson }}{% endfor %}}
{% endfor %}{% endfor %}
